/* page footer color */
nav, .page-footer {
  background-color: #26a69a;
  max-height: 70px;
}

/* page footer placement */
footer, .page-footer {
  height: 60px;
}

/* button color */
.waves-effect.active {
  background-color: #26a69a !important;
}

/* sticky footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

/* fix navbar */
.navbar-fixed {
  padding-bottom: 20px;
}

/* approval and rejection, change color when user hovers over them */
.approval-icon:hover {
  color: green !important;
}
.rejection-icon:hover {
  color: red !important;
}

/* darker placeholder text */
/* https://stackoverflow.com/questions/15497550/change-input-placeholder-color-darker */
::-webkit-input-placeholder {
  color: grey;
  opacity: 1 !important; /* for older chrome versions. may no longer apply. */
}
:-moz-placeholder { /* Firefox 18- */
  color: grey;
}
::-moz-placeholder { /* Firefox 19+ */
  color: grey;
  opacity: 1 !important;
}
:-ms-input-placeholder {
  color: grey;
}

/* prevent placeholder text from being cut off */
input {
  min-width: 300px;
}

/* narrow table column */
th.narrow {
  width: 25%;
}

/* prevent left panel re-sizing when moving between 9 and 10 or 12 and 1 */
.timepicker-digital-display {
  min-width: 250px;
}
