<div id="enroll-account-modal" class="modal">
  <div class="modal-content">

    <!-- Modal heading -->
    <div class="row">
      <div class="col s10 offset-s1">
        <h4 class="teal-text center" id="enroll-title"></h4>
      </div>
    </div>

    <!-- Choose enroll type -->
    <div class="row">
      <div class="input-field">
        <div class="offset-s3 col s2">
          <label>
            <input
              class="with-gap" name="enroll-type" id="email-type"
              type="radio" value="email" checked
            >
            <span>Enroll single</span>
          </label>
        </div>
        <div class="offset-s2 col s2">
          <label>
            <input
              class="with-gap" name="enroll-type" id="file-type"
              type="radio" value="file"
            >
            <span>Batch Enroll</span>
          </label>
        </div>
      </div>
    </div>
    <!-- Enroll single user via email -->
    <div class="row" id="enroll-user-block">
      <form class="col s8 offset-s2 modal-form" id="enroll-email-form" name="enroll-email-form">
        <div class="input-field">
          <div id="select-e-type"></div>
          <select
            id="account_type_enroll" name="account_type_enroll" class="validate"
            required="" aria-required="true"
          >
          </select>
          <span class="helper-text" data-error="type is required"></span>
          <input
            type="email" name="email" id="email" placeholder="Enter email"
            class="validate" required="" aria-required="true"
          >
          <span class="helper-text" data-error="Email is required"></span>
          <input
            type="text" name="name" id="name" placeholder="Enter name"
            class="validate" required="" aria-required="true"
          >
          <span class="helper-text" data-error="Name is required"></span>
          <input
            type="hidden" name="table" id="table" value="update_account_types"
            class="validate" required="" aria-required="true"
          >
        </div>
      </form>
    </div>
    <!-- Enroll many users via file -->
    <div class="row" id="enroll-file-block" style="display: none;">
      <form class="col s8 offset-s2 modal-form" id="enroll-file-form" name="enroll-file-form">
        <div class="input-field">
          <div class="col s12">
            {{ file_upload("file-name", '.csv', "Select file to upload", 100) }}
          </div>
          <input
            type="hidden" name="table" id="table" value="update_account_types"
            class="validate" required="" aria-required="true"
          >
        </div>
      </form>
    </div>
    <!-- Cancel and confirm buttons -->
    <div class="row">
      <div class="center">
        <a href="#!" id="btn-cancel-enroll" class="modal-action modal-close waves-effect waves-red red btn">
          Cancel
        </a>
        <a
          href="#!" id="btn-request-enroll" onclick=""
          class="modal-action waves-effect waves-teal teal btn"
        >
          Enroll
        </a>
        {{ upload_spinner(id='upload-spinner-enroll') }}
      </div>
    </div>
  </div>
</div>
