{% extends "base.html" %}

{% block body %}
  <div class="valign-wrapper" style="height:100%;">
    <div class="row center-align">
      <div class="col s4 offset-s4">
        <img class="responsive-img" src="static/img/error.png">
      </div>
      <div class="col s12">
        <h1 class="teal-text">{{ error_code }}</h1>
      </div>
      <div class="col s12">
        <h5>{{ error_name }}</h5>
      </div>
      <div class="col s12">
        <p>{{ error_description }}</p>
      </div>
    </div>
  </div>
{% endblock %}
