{% extends "base.html" %}

{% from "macros.html" import current_past_students_summary %}

{% block body %}
  <div class="row">

    <!-- Show staff their current topic requests -->
    <div class="section col s12">
      <h5>Topic Requests:</h5>
      {% if curr_requests|length %}
        <table class="striped centered responsive-table" style="margin-bottom: 10px;">

          <!-- Table header -->
          <thead>
            <tr>
              <th>Name</th>
              <th>zID</th>
              <th>Topic</th>
              <th>Review</th>
            </tr>
          </thead>

          <!-- Table body -->
          <tbody>
            {% for request in curr_requests %}
              <tr>
                <td>{{ request['stu_name'] }}</td>
                <td>
                  <a href="mailto:{{ request['stu_email'] }}">
                    {{ request['stu_email'].split('@')[0] }}
                  </a>
                </td>
                <td>{{ request['topic_name'] }}</td>
                <td>
                  <a
                    class="waves-effect waves-light btn-floating btn-small" href="#"
                    onclick="openRequestModal({{ request['stu_id'] }}, {{ request['topic_id'] }})"
                  >
                    <i class="large material-icons">insert_chart</i>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>You have no topic requests at this time</p>
      {% endif %}
    </div>

    <!-- Show staff their current students -->
    {{
       current_past_students_summary("Current Students:", curr_students, "You have no students at this time")
    }}

    <!-- Show staff their past students -->
    {{ current_past_students_summary("Past Students:", past_students, "You have no past students") }}

    {% if curr_requests|length %}
      {% include "modals/respond_topic.html" %}
    {% endif %}

  </div>
{% endblock %}
