{% extends "base.html" %}

{% block body %}
  <div class="row">

    <!-- Show student their current materials for their corses -->
    <div class="section col s10 offset-s1">
      <h5>Topic Requests:</h5>
      <div class="col s10 offset-s1">
        <table class="striped centered responsive-table">


          <!-- Table header -->
          <thead>
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>Topic</th>
                <th>Approve/Reject</th>
            </tr>
          </thead>


          <!-- Table body, should be replaced with a loop when actually connected to database -->
          <tbody>
            <tr>
              <td>John Smith</td>
              <td>z1111111</td>
              <td>Something to do with robots</td>
              <td>
                <i class="material-icons approval-icon green-text text-lighten-2">check_circle</i>
                <i class="material-icons rejection-icon red-text text-accent-1">cancel</i>
              </td>
            </tr>
            
            <tr>
              <td>John Smith</td>
              <td>z1111111</td>
              <td>Something to do with robots</td>
              <td>
                <i class="material-icons approval-icon green-text text-lighten-2">check_circle</i>
                <i class="material-icons rejection-icon red-text text-accent-1">cancel</i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Show student their current assessments for their corses -->
    <div class="section col s10 offset-s1">
      <h5>Assessments:</h5>
      <div class="col s10 offset-s1">
        <table class="highlight centered responsive-table">

          <!-- Table header -->
          <thead>
            <tr>
                <th>Course</th>
                <th>Task</th>
                <th>Status</th>
                <th>Supervisor Result</th>
                <th>Assessor Result</th>
            </tr>
          </thead>


          <!-- Table body, should be replaced with a loop when actually connected to database -->
          <tbody>
            <tr>
              <td>PLACEHOLDER</td>
              <td>PLACEHOLDER</td>
              <td>PLACEHOLDER</td>
              <td>110%</td>
              <td>110%</td>
            </tr>
            <tr>
              <td>PLACEHOLDER</td>
              <td>PLACEHOLDER</td>
              <td>PLACEHOLDER</td>
              <td>110%</td>
              <td>110%</td>
            </tr>
            <tr>
              <td>PLACEHOLDER</td>
              <td>PLACEHOLDER</td>
              <td>PLACEHOLDER</td>
              <td>-</td>
              <td>-</td>
            </tr>
            <tr>
              <td>PLACEHOLDER</td>
              <td>PLACEHOLDER</td>
              <td>PLACEHOLDER</td>
              <td>-</td>
              <td>-</td>
            </tr>
            <tr>
              <td>PLACEHOLDER</td>
              <td>PLACEHOLDER</td>
              <td>PLACEHOLDER</td>
              <td>-</td>
              <td>-</td>
            </tr>
          </tbody>
          
        </table>
      </div>
    </div>
  </div>
{% endblock %}
