{% extends "base.html" %}

{% block body %}
  <div class="row">

    <!-- Show student their current materials for their corses -->
    <div class="section col s12">
      <h5>Materials:</h5>
      <div class="col s12">
        {% if materials|length %}
          <table class="highlight centered responsive-table">
            <colgroup>
              <col span="1" style="width: 60%">
              <col span="1" style="width: 40%">
            </colgroup>
            <thead>
              <tr>
                <th>Name</th>
                <th>Files</th>
              </tr>
            </thead>
            <tbody>
              {% for material in materials %}
                <tr>
                  <td>{{material[0]}}</td>
                  <td>
                    {% for attachment in material[1] %}
                      <a href="{{ attachment.get_url() }}">
                        {{ attachment.get_original_name() }}
                      </a>
                    {% endfor %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>There are no course materials at this time</p>
        {% endif %}
      </div>
    </div>

    <!-- Show student their current assessments for their corses -->
    <div class="section col s12">
      <h5>Assessments:</h5>
      <div class="col s12">
        {% if tasks|length %}
          <table class="highlight responsive-table">

            <!-- Table header -->
            <thead>
              <tr>
                <th>Course</th>
                <th>Task</th>
                <th>Status</th>
                <th class="center-align">Supervisor Result</th>
                <th class="center-align">Assessor Result</th>
                <th class="center-align">View Task</th>
              </tr>
            </thead>

            <!-- Table body -->
            <tbody>
              {% for task in tasks %}
                <tr>
                  <td>{{task[0]}}</td>
                  <td>{{task[1]}}</td>
                  <td>{{task[2]}}</td>
                  <td class="center-align">{{task[3]}}</td>
                  <td class="center-align">{{task[4]}}</td>
                  <td class="center-align">
                    <a href="{{ url_for('tasks.view_task', task=task[5]) }}">
                      <i class="Small material-icons teal-text">pageview</i>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>

          </table>
        {% else %}
          <p>There are no assessments at this time</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
