{% extends "base.html" %}

{% block body %}
  <div class="row">
    <div class="section col s10 offset-s1">
      <h5>Material:</h5>
      <div class="col s8 offset-s2">
        <table class="highlight centered responsive-table">
          <tbody>
            <tr>
              <td>PLACEHOLDER</td>
              <td>
                <i class="material-icons left">file_download</i>
              </td>
            </tr>
            <tr>
              <td>PLACEHOLDER</td>
              <td>
                <i class="material-icons left">file_download</i>
              </td>
            </tr>
            <tr>
              <td>PLACEHOLDER</td>
              <td>
                <i class="material-icons left">file_download</i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="section col s10 offset-s1">
      <h5>Assessments:</h5>
      <div class="col s10 offset-s1">
        <table class="highlight centered responsive-table">
          <thead>
            <tr>
                <th>Course</th>
                <th>Task</th>
                <th>Status</th>
                <th>Supervisor Result</th>
                <th>Assessor Result</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>PLACEHOLDER</td>
              <td>PLACEHOLDER</td>
              <td>PLACEHOLDER</td>
              <td>110%</td>
              <td>110%</td>
            </tr>
            <tr>
              <td>PLACEHOLDER</td>
              <td>PLACEHOLDER</td>
              <td>PLACEHOLDER</td>
              <td>110%</td>
              <td>110%</td>
            </tr>
            <tr>
              <td>PLACEHOLDER</td>
              <td>PLACEHOLDER</td>
              <td>PLACEHOLDER</td>
              <td>-</td>
              <td>-</td>
            </tr>
            <tr>
              <td>PLACEHOLDER</td>
              <td>PLACEHOLDER</td>
              <td>PLACEHOLDER</td>
              <td>-</td>
              <td>-</td>
            </tr>
            <tr>
              <td>PLACEHOLDER</td>
              <td>PLACEHOLDER</td>
              <td>PLACEHOLDER</td>
              <td>-</td>
              <td>-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
