{% extends "base.html" %}

{% block body %}
  <div class="row">

    <!-- Show staff their current topic requests -->
    <div class="section col s12">
      <h5>Topic Requests:</h5>
      {% if curr_requests|length %}
        <div class="col s12">
          <table class="highlight centered responsive-table">

            <!-- Table header -->
            <thead>
              <tr>
                <th>Name</th>
                <th>zID</th>
                <th>Topic</th>
                <th>Review</th>
              </tr>
            </thead>

            <tbody>
              {% for request in curr_requests %}
                <tr>
                  <td>{{ request['stu_name'] }}</td>
                  <td>{{ request['stu_email'].split('@')[0] }}</td>
                  <td>{{ request['topic_name'] }}</td>
                  <td>
                    <a class="waves-effect waves-light btn-floating btn-small" href="#"
                       onclick="openRequestModal({{ request['stu_id'] }}, {{ request['topic_id'] }})">
                      <i class="large material-icons">insert_chart</i>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <p>You have zero topic requests at this time</p>
      {% endif %}
    </div>

    <!-- Show staff their current students -->
    <div class="section col s12">
      <h5>Current Students:</h5>
      {% if curr_students|length %}
        <div class="col s12">
          <table class="striped centered responsive-table">

            <!-- Table header -->
            <thead>
              <tr>
                <th>Name</th>
                <th>zID</th>
                <th>Topic</th>
                <th>Role</th>
              </tr>
            </thead>

            <!-- Table body -->
            <tbody>
              {% for student in curr_students %}
                <tr>
                  <td>{{ student[0] }}</td>
                  <td>{{ student[1].split('@')[0] }}</td>
                  <td>{{ student[2] }}</td>
                  <td>{{ student[3] }}</td>
                </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>
      {% else %}
        <p>You have zero students at this time</p>
      {% endif %}
    </div>

    <!-- Show staff their past students -->
    <div class="section col s12">
      <h5>Past Students:</h5>
      {% if past_students|length %}
        <div class="col s12">
          <table class="striped centered responsive-table">

            <!-- Table header -->
            <thead>
              <tr>
                <th>Name</th>
                <th>zID</th>
                <th>Topic</th>
                <th>Role</th>
              </tr>
            </thead>

            <!-- Table body -->
            <tbody>
              {% for student in past_students %}
                <tr>
                  <td>{{ student[0] }}</td>
                  <td>{{ student[1].split('@')[0] }}</td>
                  <td>{{ student[2] }}</td>
                  <td>{{ student[3] }}</td>
                </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>
      {% else %}
        You have no past students
      {% endif %}
    </div>

  </div>

  {% if curr_requests|length %}
    {% include "modals/respond_topic.html" %}
  {% endif %}

{% endblock %}
