{% macro upload_spinner(id) %}
<div id="{{ id }}" style="display: none;" class="preloader-wrapper small active">
  <div class="spinner-layer">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div>
    <div class="gap-patch">
      <div class="circle"></div>
    </div>
    <div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro file_upload(id, accepted_file_types, text, max_file_size) %}
<div class="file-field input-field">
  <div class="btn file-upload-btn">
    <span>Choose</span>
    <input type="file" accept="{{ accepted_file_types }}">
  </div>
  <div class="file-path-wrapper">
    <input id="{{ id }}" name="{{ id }}" class="file-path validate" type="text" placeholder="{{ text }}">
    <label for="file-name">Size limit: {{ max_file_size }} MB</label>
  </div>
</div>
{% endmacro %}

{% macro current_past_students_summary(heading, students_list, if_none) %}
<div class="section col s12">
  <h5>{{ heading }}</h5>
  {% if students_list|length %}
    <table class="striped centered responsive-table js-sort-table" style="margin-bottom: 10px;">

      <!-- Table header -->
      <thead>
        <tr>
          <th class="sortable">Name</th>
          <th class="sortable">zID</th>
          <th class="sortable">Topic</th>
          <th class="sortable">Role</th>
          <th>Submissions</th>
        </tr>
      </thead>

      <!-- Table body -->
      <tbody>
        {% for student in students_list %}
          <tr>
            <td>{{ student[0] }}</td>
            <td>
              <a href="mailto:{{ student[1] }}">
                {{ student[1].split('@')[0] }}
              </a>
            </td>
            <td>{{ student[2] }}</td>
            <td>{{ student[4] }}</td>
            <td>
              <a href="{{ url_for('submissions.view_submission', submissions=student[3]) }}">
                <i class="small material-icons teal-text">pageview</i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>{{ if_none }}</p>
  {% endif %}
</div>
{% endmacro %}
