{% extends "base.html" %}

{% block body %}
  <div class="row">
    <div class="section col s12">
      {% if curr_topics|length %}
        <form id="manage-topic-form">

          <div class="right" style="padding-top: 15px; padding-bottom: 15px;">
            <a class="waves-effect waves-light btn" id="checkall-btn">
              Disable All Topics
              <i class="material-icons right">close</i>
            </a>
          </div>

          <table class="striped centered responsive-table js-sort-table">
            <colgroup>
              <col span="1" style="width: 50%">
              <col span="1" style="width: 40%">
              <col span="1" style="width: 5%">
              <col span="1" style="width: 5%">
            </colgroup>

            <!-- Table header -->
            <thead>
              <tr>
                <th class="sortable">Title</th>
                <th class="sortable">Topic Areas</th>
                <th>Visible</th>
                <th>Edit</th>
              </tr>
            </thead>

            <!-- Table body -->
            <tbody>
              {% for topic in curr_topics %}
                <tr>
                  <td>{{ topic[0] }}</td>
                  <td>{{ topic[1] }}</td>
                  <td>
                    {% if topic[2] == 1 %}
                      <label>
                        <input
                          type="checkbox" id="topic-{{ loop.index0 }}" class="filled-in"
                          name="topic-{{ loop.index0 }}" checked="checked"
                          onchange="updateTopicVisibility('topic-{{ loop.index0 }}')"
                        >
                        <span style="padding-left: 20px;">
                        </span>
                      </label>
                    {% else %}
                      <label>
                        <input
                          type="checkbox" id="topic-{{ loop.index0 }}" class="filled-in"
                          name="topic-{{ loop.index0 }}"
                          onchange="updateTopicVisibility('topic-{{ loop.index0 }}')"
                        >
                        <span style="padding-left: 20px;">
                        </span>
                      </label>
                    {% endif %}
                  </td>
                  <td>
                    <a id="{{ topic[0] }}" href="#">
                      <i class="material-icons">edit</i>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>

          </table>
        </form>
      {% else %}
        <p>You have no topics at this time</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
