{% extends "base.html" %}

{% block body %}
  <div class="row">

    <div class="section col s12">
      <h5>Select Course Offering:</h5>
      <form id="change-co">
        <div class="input-field">
          <div class="row">
            <div class="col s5">
              <select
                id="courses" name="courses" class="validate"
                required="" aria-required="true"
              >
                {% for course in courses %}
                  <option
                    {% if course[0]|int == default_co|int %}
                      selected="selected"
                    {% endif %}
                    value="{{ course[0] }}">{{ course[1] }} - {{ course[3] }}T{{ course[2] }}
                  </option>
                {% endfor %}
              </select>
            </div>
            <div class="col s3" style="padding-top: 10px;">
              <a class="waves-effect waves-light btn" id="change-co-btn" onclick="submitCO()">Refresh
                <i class="material-icons right">autorenew</i>
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-- Show materials relevant to the course offering -->
    <div class="section col s12">
      <h5>Materials:</h5>
      {% if materials|length %}
        <table class="striped centered responsive-table js-sort-table" style="margin-bottom: 20px;">
          <colgroup>
            <col span="1" style="width: 50%;">
            <col span="1" style="width: 40%;">
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 5%;">
          </colgroup>
          <thead>
            <tr>
              <th class="sortable">Name</th>
              <th class="sortable">File</th>
              <th>Visible</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            {% for material in materials %}
              <tr>
                <td>{{ material[1] }}</td>
                <td>
                  {% for attachment in material[2] %}
                    <a href="{{ attachment.get_url() }}">
                      {{ attachment.get_original_name() }}
                    </a>
                  {% endfor %}
                </td>
                <td>
                  {% if material[3] == 1 %}
                    {% set value = 0 %}
                    {% set checked = "checked" %}
                  {% else %}
                    {% set value = 1 %}
                    {% set checked = "" %}
                  {% endif %}
                  <label>
                    <input
                      type="checkbox" id="m{{ material[0] }}" class="filled-in"
                      name="{{ material[0] }}"
                      {{ checked }}
                      data-totype="{{ value }}"
                      onchange="updateMat({{ material[0] }}, '#m{{ material[0] }}')"
                    >
                    <span style="padding-left: 20px;">
                    </span>
                  </label>
                </td>
                <td>
                  <!-- TODO: add link to edit material here -->
                  <a href="#!">
                    <i class="material-icons">edit</i>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>There are currently no materials for this course offering</p>
      {% endif %}
      <a
        class="waves-effect waves-light btn modal-trigger" id="add-material-btn" name="add-material-btn"
        href="#add-material-modal" style="float: right;"
      >
        Add Material
        <i class="material-icons right">add</i>
      </a>
    </div>

    <!-- Show related tasks for course offering -->
    <div class="section col s12">
      <h5>Tasks:</h5>
      {% if tasks|length %}
        <table class="striped centered responsive-table js-sort-table" style="margin-bottom: 20px;">
          <colgroup>
            <col span="1" style="width: 25%;">
            <col span="1" style="width: 25%;">
            <col span="1" style="width: 40%;">
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 5%;">
          </colgroup>
          <thead>
            <tr>
              <th class="sortable">Task</th>
              <th class="sortable">Deadline</th>
              <th class="sortable">File</th>
              <th>Visible</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            {% for task in tasks %}
              <tr>
                <td>{{ task[1] }}</td>
                <td>{{ task[2] }}</td>
                <td>
                  {% if task[3]|length %}
                    {% for attachment in task[3] %}
                      <a href="{{ attachment.get_url() }}">
                        {{ attachment.get_original_name() }}
                      </a>
                    {% endfor %}
                  {% else %}
                    N/A
                  {% endif %}
                </td>
                <td>
                  {% if task[4] == 1 %}
                    {% set value = 0 %}
                    {% set checked = "checked" %}
                  {% else %}
                    {% set value = 1 %}
                    {% set checked = "" %}
                  {% endif %}
                  <label>
                    <input
                      type="checkbox" id="t{{ task[0] }}" class="filled-in"
                      name="{{ task[0] }}"
                      {{ checked }}
                      data-totype="{{ value }}"
                      onchange="updateTask({{ task[0] }}, '#t{{ task[0] }}')"
                    >
                    <span style="padding-left: 20px;">
                    </span>
                  </label>
                </td>
                <td>
                  <!-- TODO: add link to edit material here -->
                  <a href="{{ url_for('create_task.create', course_offering_id=default_co, update=task[0]) }}">
                    <i class="material-icons">edit</i>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>There are currently no tasks for this course offering</p>
      {% endif %}
      <a
        class="waves-effect waves-light btn"
        id="add-task-btn"
        name="add-task-btn"
        href="{{ url_for('create_task.create', course_offering_id=default_co) }}"
        style="float: right;"
      >
        Add Task
        <i class="material-icons right">add</i>
      </a>
    </div>

    <!-- Show enrollments in course offering -->
    <div class="section col s12">
      <h5>Enrollments:</h5>
      <div style="max-height: 300px; overflow-y: scroll; margin-bottom: 20px;">
        {% if enrollments|length %}
          <table class="striped centered responsive-table js-sort-table">
            <colgroup>
              <col span="1" style="width: 25%;">
              <col span="1" style="width: 25%;">
              <col span="1" style="width: 50%;">
            </colgroup>
            <thead>
              <tr>
                <th class="sortable">Name</th>
                <th class="sortable">zID</th>
                <th class="sortable">Topic</th>
              </tr>
            </thead>
            <tbody>
              {% for student in enrollments %}
                <tr>
                  <td>{{ student[0] }}</td>
                  <td><a href="mailto:{{ student[2] }}">{{ student[1] }}</a></td>
                  <td>{{ student[3] }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          There are currently no students enrolled in this course
        {% endif %}
      </div>
      <a
        class="waves-effect waves-light btn modal-trigger" id="add-enroll-btn" name="add-enroll-btn"
        href="#enroll-account-modal" style="float: left;" onclick="setFormTypeUser()"
      >
        Enroll Users
        <i class="material-icons right">group_add</i>
      </a>
      <a
        class="waves-effect waves-light btn" id="marks-btn" name="marks-btn" href="#!" style="float: right;"
        onclick="exportMarks({{enrollments}}, {{task_ids}})">
        Export Marks
        <i class="material-icons right">cloud_download</i>
      </a>
      <a id="dummyDownload"></a>
    </div>

    <!-- Add material modal -->
    {% include "modals/add_material.html" %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/material.js') }}" defer></script>
    
  </div>
{% endblock %}
