{% extends "base.html" %}

{% block body %}
  <div clas="row col s12"> 
    <div>
      <b>Deadline:</b> {{ deadline }}
    </div>
    <br>
    <div>
      <b>Description:</b> {{ description }}
    </div>
    <br>
    <div>
      <b>Attachment:</b> Marking Criteria 
      <a href="{{ url_for('static', filename='%s'%criteria) }}"> 
      <i class="material-icons right">file_download</i>
      </a>
    </div>
    <br>
    <div>
      <b>Submission:</b> PLACEHOLDER
    </div>
    <br>
    <div>
      <b>Student:</b> PLACEHOLDER
    </div>
    <div>
      &nbsp; <br />
      &nbsp;
    </div>
  </div> 

  <div class="row col s12">
    <br>
    <div>
      <b>Assessment:</b> PLACEHOLDER
    </div>
    <div>

    </div>
  </div>
{% endblock %}
