{% extends "base.html" %}

{% block body %}
  <h3 class="center teal-text">Reset TMS Password</h3>
  <div class="row">
    <form class="col s8 offset-m2" id="resetPassword-form">
      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">security</i>
          <input
            name="password" id="new-password" type="password" class="validate"
            oninput="checkPassword()" required="" aria-required="true"
          >
          <label for="password">New Password</label>
          <span class="helper-text" data-error="Invalid password"></span>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">security</i>
          <input
            name="confirm-password" id="new-confirm-password" type="password"
            oninput="checkPassword()" required="" aria-required="true"
          >
          <label for="password">Confirm Password</label>
          <span class="helper-text" data-error="Passwords do not match"></span>
        </div>
      </div>
      <div class="center">
        <a
          class="waves-effect waves-light btn" id="register-btn"
          onclick="submitReset({{ user_id }}, '{{ reset_id }}')"
        >
          Confirm
          <i class="material-icons right">send</i>
        </a>
      </div>
    </form>
  </div>
  <script
    type="text/javascript"
    src="{{ url_for('static', filename='js/change_password.js') }}" defer
  ></script>
{% endblock %}
