{% extends "base.html" %}

{% block body %}
  <div class="row">

    <!-- Show staff the tasks and submission info of the student -->
    <div class="section col s12">
      {% if submissions|length %}
        <table class="striped centered responsive-table js-sort-table">

          <!-- Table header -->
          <thead>
            <tr>
              <th class="sortable">Task</th>
              <th class="sortable">Submitted Time</th>
              <th class="sortable">Mark</th>
              <th>View</th>
            </tr>
          </thead>
          <!-- Table body -->
          <tbody>
            {% for submission in submissions %}
              <tr>
                <td class="center-align">{{ submission[0] }}</td>
                <td class="center-align">{{ submission[1] }}</td>
                <td class="center-align">{{ submission[2] }}</td>
                <td class="center-align">
                  <a href="{{ url_for('tasks.mark_task', task=submission[4], student=submission[5]) }}">
                    <i class="Small material-icons teal-text">pageview</i>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>There are no submissions at this time for this student</p>
      {% endif %}
    </div>

  </div>
{% endblock %}
