
<div class="row">
  <div class="col s12">
    {% if text_info["old_text"]|length %}
      <h6>Your last submission ({{ text_info["edited_time"] }}):</h6>
      <div class="col s10 offset-s2">
        {{ text_info["old_text"] }}
      </div>
    {% else %}
      You haven't submitted anything yet.
    {% endif %}
  </div>
  &nbsp;
  <div class="col s12 right-align">
    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn" onclick="openModal();">{{ text_info["button_text"] }}</a>
  </div>
  <!-- Modal Structure -->
  <div id="text_modal" class="modal">
    <div class="modal-content">
      <form id="text-upload-form" action="/submit_text_task" method="post" enctype="multipart/form-data">
        <div class="input-field">
          {% if text_info["old_text"]|length %}
            <textarea name="text-submission" id="textarea1" class="materialize-textarea">{{ text_info["old_text"] }}</textarea>
          {% else %}
            <textarea name="text-submission" id="textarea1" class="materialize-textarea"></textarea>
          {% endif %}
          <label for="textarea1">Submission</label>
          <div class="right-align text-grey text-lighten-3">
              test
          </div>
        </div>
        &nbsp;
        <div class="input-field">
          <div>
            <label>
              <input id="all-own-work" type="checkbox" />
              <span>I certify this is all my own work, except where expressly indicated and correctly attributed</span>
            </label>
          </div>
        </div>
        <div class="input-field row">
          <a onclick="uploadText(this)" class="waves-effect waves-light btn">Confirm</a>
          <a onclick="closeModal()" class="waves-effect waves-light btn red">Cancel</a>
        </div>
        <input type="hidden" name="task" value="{{ task_id }}">
        <input type="hidden" id="word_limit" value="{{ text_info['limit'] }}">
      </form>
    </div>
  </div>
</div>