<div class="row">
  <div class="col 12">
    <h5>Task Details:</h5>
    <p></p>
    <b>Deadline:</b> {{ deadline_text }}
    <p></p>
    <b>Description:</b> {{ description }}
    <p></p>
    {% if not attachment %}
      <b>Attachment:</b> No attachments
    {% else %}
      <div>
        <b>Attachment:</b>
        <a
          class="waves-effect waves-light" href="{{ attachment.get_url() }}"
          download="{{ attachment.get_original_name() }}"
        >
          {{ attachment.get_original_name() }}
          <i class="material-icons right">file_download</i>
        </a>
      </div>
    {% endif %}
  </div>
</div>
