<div id="view_text_section">
  {% if submission['text']|length %}
    <div style="border: 1px solid #000000; padding: 5px;">
      <em>{{ submission['text'] }}</em>
    </div>
  {% endif %}
  {% if can_submit and owner %}
    {% if submission %}
      <br>
    {% endif %}
    <a class="waves-effect waves-light btn" onclick="openTextEditor();">
      {{ 'Start Submission' if not submission else 'Edit Submission' }}
      <i class="material-icons right">edit</i>
    </a>
  {% endif %}
</div>
{% if owner %}
  <div id="edit_text_section" style="display: none;">
    <form id="text-upload-form" action="/submit_text_task" method="POST" enctype="multipart/form-data">
      <div>
        <div class="input-field">
          {% if submission["text"]|length %}
            <textarea name="text-submission" id="textarea1" class="materialize-textarea validate" onkeyup="updateWordCount(this)" placeholder="Enter text here" required="" aria-required="true">{{ submission['text'] }}</textarea>
          {% else %}
            <textarea name="text-submission" id="textarea1" class="materialize-textarea validate" onkeyup="updateWordCount(this)" placeholder="Enter text here" required="" aria-required="true"></textarea>
          {% endif %}
          <div class="right-align text-grey text-lighten-3">
            <span id='word-counter'></span>/{{ task['text_limit'] }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <div>
            <label>
              <input name="certify" id="all-own-work" value="false" type="checkbox">
              <span>
                I certify this is all my own work, except where expressly indicated and correctly attributed
              </span>
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <a onclick="closeTextEditor()" class="waves-effect waves-light btn red">Cancel</a>
          <a onclick="uploadText(this)" class="waves-effect waves-light btn">Submit</a>
        </div>
      </div>
      <input type="hidden" name="task" value="{{ task['id'] }}">
      <input type="hidden" id="word_limit" value="{{ task['text_limit'] }}">
    </form>
  </div>
{% endif %}
