<div class="row">
  <form id="file-upload-form" action="/submit_file_task" method="POST" enctype="multipart/form-data">

    <div class="row">
      <div class="file-field input-field">
        <div class="btn file-upload-btn">
          <span>Choose</span>
          <input type="file" accept="{{ accepted_files }}">
        </div>
        <div class="file-path-wrapper">
          <input id="file-name" class="file-path validate" type="text" placeholder="Select file to submit">
          <label for="file-name">Size limit: {{ max_size }} MB</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <div>
          <label>
            <input id="all-own-work" name="certify" value="false" type="checkbox">
            <span>
              I certify this is all my own work, except where expressly indicated and correctly attributed
            </span>
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <a onclick="uploadFile(this)" class="waves-effect waves-light btn">Submit</a>
        <div id="upload-spinner" style="display: none;" class="preloader-wrapper small active">
          <div class="spinner-layer">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <input type="hidden" name="task" value="{{ task_id }}">
  </form>
</div>
