{% extends "base.html" %}

{% from "macros.html" import upload_spinner, file_upload %}

{% block body %}
  <!-- Show student their current materials for their corses -->
  {% include "task_summary.html" %}

  <div class="row">
    <div class="col s12">
      <hr>
    </div>
  </div>

  <!-- Give the student the ability to submit text/file -->
  <div class="row">
    {% if marker or not owner %}
      <div class="col s12">
        <h5>Submission:</h5>
        <p></p>
        <b>Student:</b>
        {{ student['name'] }}
        <a href="mailto:{{ student['email'] }}">({{ student['email'] }})</a>
        <p></p>
        <b>Last submission:</b>
        {% if submission %}
          {{ submission['date_modified'] }}
        {% else %}
          No recorded submission
        {% endif %}
        <p></p>
        {% if submission %}
          {% if submission['file'] %}
            <b>File submitted:</b>
            <a class="waves-effect waves-light" href="{{ submission['file'].get_url() }}" target="_blank" rel="noopener noreferrer">
              {{ submission['name'] }}
              <i class="material-icons right">file_download</i>
            </a>
          {% else %}
            <div style="border: 1px solid #000000; padding: 5px;">
              <em>{{ submission['text'] }}</em>
            </div>
          {% endif %}
        {% endif %}
      </div>
    {% else %}
      <div class="col s12">
        <h5>Your Submission:</h5>
        {% if not can_submit %}
          <div class="row">
            <div class="col s4 offset-s4 amber darken-4 center-align">
              <span class="white-text" style="line-height: 2em;">Submissions Closed</span>
            </div>
          </div>
        {% endif %}

        <div class="row" >
          <div class="col s12">
            <b>Last submission:</b>
            {% if submission %}
              {{ submission['date_modified'] }}
            {% else %}
              No recorded submission
            {% endif %}
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            {% if 'text' in task['sub_method']['name'] %}
              {% include "task_submit_text.html" %}
            {% else %}
              {% include "task_submit_file.html" %}
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  </div>

  {% if not ('approval' in task['mark_method']['name'] and not submission) %}
    <div class="row">
      <div class="col s12">
        <hr>
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="col s12">
      {% if 'approval' in task['mark_method']['name'] and not submission %}
        {# Don't display an awaiting approval if there is no submission! #}
      {% else %}
        {% if submission['mark_method'] == 'approval' %}
          <h5>Approval:</h5>
        {% else %}
          <h5>Marking:</h5>
        {% endif %}
      {% endif %}
      {% if marker %}
        {% include "task_mark.html" %}
      {% else %}
        <!-- First case, no submission, show nothing in the case of an approval task otherwise show the marking critera -->
        {% if not submission %}
          {% for staff_type in ["Supervisor"] %}
            <div class="row">
              <div class="col s12">
                {% if mark_details[staff_type]|length %}
                  <table class="striped centered responsive-table">

                    <!-- Table header -->
                    <thead>
                      <tr>
                        <th>Criteria</th>
                        <th class="center-align">Mark</th>
                      </tr>
                    </thead>

                    <tbody>
                      {% for item in mark_details[staff_type] %}
                        <tr>
                          <td>{{item[0]}}</td>
                          <td class="center-align">{{item[2]}}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        {% elif submission['mark_method'] == 'approval' %}
          {% if not submission['status']['name'] == 'pending' %}
            {% if approval_feedback %}
              <b>Status:</b>
            {% endif %}
            <span>{{ 'Your' if owner else 'Their' }} submission has been {{submission['status']['name'] }}.</span>
            {% if approval_feedback %}
              <p></p>
              <b>Feedback:</b> <span>{{ approval_feedback }}</span>
            {% endif %}
          {% else %}
            <span>{{ 'Your' if owner else 'Their' }} submission is pending approval</span>
          {% endif %}
        {% else %}
          {% for staff_type in ["Supervisor", "Assessor"] %}
            <div class="row">
              <div class="col s12">
                <b>{{ staff_type }}:</b>
                {% if not mark_details[staff_type]|length %}
                  <!-- Student has no staff member assigned -->
                  {% if staff_type|first in 'AEIOU' %}
                    <p>{{ 'You' if owner else 'They' }} have not been assigned an {{ staff_type|lower }} yet.</p>
                  {% else %}
                    <p>{{ 'You' if owner else 'They' }} have not been assigned a {{ staff_type|lower }} yet.</p>
                  {% endif %}
                {% else %}
                  <table class="striped centered responsive-table">
                    <colgroup>
                      <col span="1" style="width: 35%;">
                      <col span="1" style="width: 10%;">
                      <col span="1" style="width: 55%;">
                    </colgroup>

                    <!-- Table header -->
                    <thead>
                      <tr>
                        <th>Criteria</th>
                        <th class="center-align">Mark</th>
                        <th>Feedback</th>
                      </tr>
                    </thead>

                    <!-- Table body -->
                    <tbody>
                      {% for item in mark_details[staff_type] %}
                        <tr>
                          <td>{{item[0]}}</td>
                          <td class="center-align">{{item[1]}}/{{item[2]}}</td>
                          {% if item[1] == '-' %}
                            <td><i>{{item[3]}}</i></td>
                          {% else %}
                            <td>{{item[3]}}</td>
                          {% endif %}
                        </tr>
                      {% endfor %}
                    </tbody>

                  </table>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
