{% extends "base.html" %}

{% from "macros.html" import upload_spinner, file_upload %}

{% block body %}
  <div class="row">

    <!-- Show student their current materials for their corses -->
    <div class="section col s12">
      <h5>Task Details:</h5>
      <div class="col s12">
        <div class="col s12">
          <b>Deadline:</b> {{ deadline }}
        </div>
        <div class="col s12">
          <b>Description:</b> {{ description }}
        </div>
        <div class="col s12">
          <b>Attachments:</b> PLACEHOLDER
        </div>
        <div class="col s12">
          &nbsp; <br />
          &nbsp;
        </div>
      </div>
    </div>

    <!-- Give the student the ability to submit text/afile -->
    <div class="section col s12">
      <hr/>
      <h5>Your Submission:</h5>
      <div class="col s12">
        <div class="col s12">
          {% if is_text_task %}
            {% include "task_submit_text.html" %}
          {% else %}
            {% include "task_submit_file.html" %}
          {% endif %}
        </div>
        <div class="col s12">
          &nbsp; <br />
          &nbsp;
        </div>
      </div>
    </div>

    <!-- Show student their current assessments for their corses -->
    <div class="section col s12">
      <hr/>
      {% if is_approval %}
        <h5>Approval:</h5>
      {% else %}
        <h5>Marking:</h5>
      {% endif %}
      <div class="col s12">
        {% if awaiting_submission %}
          <p>Awaiting Submission.</p>
        {% elif is_approval %}
          <p>{{ mark_details["Approval"] }}</p>
        {% else %}
          {% for staff_type in ["Supervisor", "Assessor"] %}
            <div class="col s12">
              <h6>{{ staff_type }}:</h6>

              <div class="col s12">
                {% if not mark_details[staff_type]|length %}
                  <!-- Student has no staff member assigned -->
                  {% if staff_type|first in 'AEIOU' %}
                    <p>You have not been assigned an {{ staff_type|lower }} yet.</p>
                  {% else %}
                    <p>You have not been assigned a {{ staff_type|lower }} yet.</p>
                  {% endif %}
                {% else %}
                  <table class="highlight responsive-table">

                    <!-- Table header -->
                    <thead>
                      <tr>
                        <th>Criteria</th>
                        <th class="center-align">Mark</th>
                        <th>Feedback</th>
                      </tr>
                    </thead>

                    <!-- Table body, should be replaced with a loop when actually connected to database -->
                    <tbody>
                      {% for item in mark_details[staff_type] %}
                        <tr>
                          <td>{{item[0]}}</td>
                          <td class="center-align">{{item[1]}}/{{item[2]}}</td>
                          {% if item[1] == '-' %}
                            <td><i>{{item[3]}}</i></td>
                          {% else %}
                            <td>{{item[3]}}</td>
                          {% endif %}
                        </tr>
                      {% endfor %}
                    </tbody>

                  </table>
                {% endif %}
              </div>
            </div>
            <div class="col s12">
              &nbsp; <br />
              &nbsp;
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
