{% if prev_submission %}
  <div class="row">
    <div class="col s12">
      <a class="waves-effect waves-light btn {% if not can_submit %} disabled {% endif %}" onclick="editFileSubmission()">
        Edit
        <i class="material-icons right">edit</i>
      </a>
      <a class="waves-effect waves-light btn" href="{{ prev_submission['url'] }}" download="{{ prev_submission['name'] }}">
        Download
        <i class="material-icons right">file_download</i>
      </a>
    </div>
  </div>
{% endif %}

{% if can_submit %}
  <form id="file-upload-form" style="display: none;" action="/submit_file_task" method="POST" enctype="multipart/form-data">

    <div class="row">
      <div class="col s12">
        {{ file_upload("file-name", accepted_files, "Select file to submit", max_size) }}
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <div>
          <label>
            <input id="all-own-work" name="certify" value="false" type="checkbox">
            <span>
              I certify this is all my own work, except where expressly indicated and correctly attributed
            </span>
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        {% if prev_submission %}
          <a id="cancel-btn" onclick="cancelFileSubmission()" class="waves-effect waves-light btn red">Cancel</a>
        {% endif %}
        <a id="submit-btn" onclick="uploadFile(this)" class="waves-effect waves-light btn">
          {% if prev_submission %}
            Save
          {% else %}
            Submit
          {% endif %}
        </a>
        {{ upload_spinner(id='upload-spinner') }}
      </div>
    </div>

    <input type="hidden" name="task" value="{{ task_id }}">
  </form>
{% endif %}
