<div>
  <form id="mark-form" method="">
    <table class="striped centered responsive-table" style="margin-bottom: 20px;">
      <colgroup>
        {% if submission['markingMethod'] == 'approval' %}
          <col span="1" style="width: 15%;">
          <col span="1" style="width: 10%;">
          <col span="1" style="width: 75%;">
        {% else %}
          <col span="1" style="width: 25%;">
          <col span="1" style="width: 5%;">
          <col span="1" style="width: 5%;">
          <col span="1" style="width: 65%;">
        {% endif %}
      </colgroup>

      <thead>
        <tr>
          <th>Criteria</th>
          {% if submission['markingMethod'] == 'approval' %}
            <th>Approved</th>
          {% else %}
            <th>Max Mark</th>
            <th>Assigned Mark</th>
          {% endif %}
          <th>Feedback</th>
        </tr>
      </thead>

      <tbody>
        {% for i in range(0, taskCriteria|length) %}
          <tr>
            <td>{{ taskCriteria[i][2] }}</td>
            {% if markedFeedback[i] == [] %}
              {% if submission['markingMethod'] == 'approval' %}
                <td>
                  <label>
                    {% if submission['status'] == 'approved' %}
                      <input id="approveCheck" type="checkbox" class="filled-in" checked="checked">
                    {% else %}
                      <input id="approveCheck" type="checkbox" class="filled-in">
                    {% endif %}
                    <span></span>
                  </label>
                </td>
              {% else %}
                <td>{{ taskCriteria[i][3] }}</td>
                <td>
                  <input
                    id="enteredMark" type="number" min="0"
                    max="{{ taskCriteria[i][3] }}" placeholder="Enter Mark" class="validate"
                    required="" aria-required="true"
                  >
                </td>
              {% endif %}
              <td>
                <div>
                  <textarea
                    id="enteredFeedback" class="materialize-textarea validate"
                    placeholder="Enter Feedback"
                    {% if submission['markingMethod'] != 'approval' %}
                      required="" aria-required="true"
                    {% endif %}
                  ></textarea>
                </div>
              </td>
            {% else %}
              {% if submission['markingMethod'] == 'approval' %}
                <td>
                  <label>
                    {% if submission['status'] == 'approved' %}
                      <input id="approveCheck" type="checkbox" class="filled-in" checked="checked">
                    {% else %}
                      <input id="approveCheck" type="checkbox" class="filled-in">
                    {% endif %}
                    <span></span>
                  </label>
                </td>
              {% else %}
                <td>{{ taskCriteria[i][3] }}</td>
                <td>
                  <input
                    id="enteredMark" type="number" min="0" max="{{ taskCriteria[i][3] }}"
                    value="{{markedFeedback[i][0][0]}}" placeholder="Enter Mark"
                    required="" aria-required="true" class="validate"
                  >
                </td>
              {% endif %}
              <td>
                {% if markedFeedback[i][0][1] == None %}
                  <div>
                    <textarea
                      id="enteredFeedback" class="materialize-textarea validate"
                      {% if submission['markingMethod'] != 'approval' %}
                        required="" aria-required="true"
                      {% endif %}
                      placeholder="Enter Feedback"
                    ></textarea>
                  </div>
                {% else %}
                  <textarea
                    id="enteredFeedback" class="materialize-textarea validate"
                    {% if submission['markingMethod'] != 'approval' %}
                      required="" aria-required="true"
                    {% endif %}
                  >{{ markedFeedback[i][0][1] }}</textarea>
                {% endif %}
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
</div>

<div class="right">
  <a
    class="waves-effect waves-light btn" id="search-btn"
    onclick="updateMarks({{ taskCriteria[0][1] }}, {{ studentId }}, {{ taskCriteriaId }}, {{ taskMax }})"
  >
    Commit Marks
    <i class="material-icons right">send</i>
  </a>
</div>
